$color-main: #3a3636;
$color-accent: #fbb03b;
$color-minor: #252525;
$color-light: #ffff;
$color-bright: #faaf3a;
$color-attention: #e06c52;
$color-success: #25AB62;



$font-size-min: 10px;
$font-size-small: 12px;
$font-size-main: 14px;
$font-size-intermediate: 16px;
$font-size-medium: 18px;
$font-size-accent: 24px;
$font-size-big: 32px;
$font-size-large: 80px;

$line-height-min: 1;
$line-height-main: 1.4;


$font-family-main: 'Montserrat', sans-serif;


$hover: 'hover: hover';
$hover-opacity: 0.8